.v-toolbar-title{
    text-align: center;
    margin: 0;
    font-family: "Mitr";
    color: white;
}

.v-app-bar.v-toolbar{
      background-color: #1ABC9C !important;
}

body{
    font-family: "Mitr";
}